* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Inter", sans-serif;
}
p {
  font-family: "Poppins", sans-serif;
}

.top_banner {
  background-image: url(images/donation13.jpg);
  width: 100vw;
  height: 670px;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
.top_banner_txt {
  text-align: center;
  color: white;
  justify-content: center;
  position: absolute;
  margin: 50px auto;
  width: 60%;
}
.top_banner_txt h1 {
  font-size: 70px;
  margin-bottom: 30px;
}
.link_btn {
  display: inline-block;
  margin-top: 40px;
  padding: 15px 40px;
  background-color: #ff5959;
  text-decoration: none;
  color: white;
  border-radius: 5px;
}
.donate_today_area,
.donate_plan_area {
  margin-top: 80px;
  text-align: center;
}
.donate_today_area > h1:first-of-type,
.donate_plan_area > h1:first-of-type,
.get_update > h1:first-of-type {
  font-size: 50px;
  font-weight: 700;
  color: #121212;
}
.donate_today_area > p:first-of-type,
.donate_plan_area > p:first-of-type,
.get_update > p:first-of-type {
  color: #707070;
  width: 60%;
  margin: 40px auto 70px;
}
.card {
  width: 135px;
  height: 123px;
  background-color: #fafafa;
  color: #707070;
  font-weight: bold;
  font-size: 20px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#card2 {
  background-color: #ffeeee;
  color: #ff5959;
  border: 2px solid #ff5959;
}
.amount_area {
  width: 55%;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}
.other_amnt {
  width: 55%;
  margin: 30px auto 0px;
  height: 30px;
  border-bottom: 1px solid #dadada;
}
.donate_plan_items {
  width: 75%;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}
.item {
  width: 32%;
  height: 350px auto;
  background-color: #edf5f6;
  text-align: left;
  border-radius: 3px;
  padding: 25px;
  align-items: center;
}
.item img {
  margin-top: 40px;
  margin-bottom: 25px;
}
.item h2 {
  margin-bottom: 20px;
}
#item2_bg {
  background-color: #ffeeee;
}
#item3_bg {
  background-color: #fff4d6;
}
.get_update {
  margin-top: 80px;
  text-align: center;
}
